* text=auto !eol
/README.html -text
/README.rst -text
build/build_docs.pro -text
build/build_parframewrk.pro -text
doc/Makefile -text
doc/architecture.rst -text
doc/conf.py -text
doc/diagrams/Parallel_Framework_Arch.gliffy -text
doc/diagrams/Parallel_Framework_Arch.png -text
doc/diagrams/Parallel_Framework_Exec_Flow_PrePost.gliffy -text
doc/diagrams/Parallel_Framework_Exec_Flow_PrePost.png -text
doc/diagrams/Parallel_Framework_Exec_Flow_Simple.gliffy -text
doc/diagrams/Parallel_Framework_Exec_Flow_Simple.png -text
doc/diagrams/Parallel_Framework_Exec_Flow_Subdivision.gliffy -text
doc/diagrams/Parallel_Framework_Exec_Flow_Subdivision.png -text
doc/make.bat -text
doc/overview.rst -text
doc/quick_reference.rst -text
doc/tutorial.html -text
doc/tutorial.rst -text
doc/user_guide.rst -text
example/tutorial/create_parallel_job.pro -text
example/tutorial/create_parallel_job_comp.pro -text
example/tutorial/create_parallel_job_data.pro -text
example/tutorial/create_parallel_job_prog.pro -text
example/tutorial/create_task_list.pro -text
example/tutorial/data/gen_test_data.pro -text
example/tutorial/sum_mean_stddev.pro -text
example/tutorial/sum_mean_stddev_pfw.pro -text
src/load_par_framework.pro -text
src/overview -text
src/par_framework.pro -text
src/parallel_worker.pro -text
src/parfw_runner.pro -text
src/parfw_util.pro -text
src/plugins/.idldoc -text
src/plugins/pbs_job_array_job_generator.pro -text
src/plugins/pbs_job_generator.pro -text
src/plugins/slurm_job_generator.pro -text
tests/api/discover_generator_plugins_ut__define.pro -text
tests/api/generate_parallel_job_ut__define.pro -text
tests/api/load_generator_plugin_ut__define.pro -text
tests/api/load_par_framework_ut__define.pro -text
tests/utils/arguments/parse_worker_command_line_args_ut__define.pro -text
tests/utils/file_paths/correct_path_delim_ut__define.pro -text
tests/utils/file_paths/fully_qualified_path_ut__define.pro -text
tests/utils/modules/copy_module_ut__define.pro -text
tests/utils/modules/load_module_ut__define.pro -text
tests/utils/task_lists/load_worker_task_list_ut__define.pro -text
tests/utils/task_lists/save_worker_out_items_ut__define.pro -text
tests/utils/task_lists/segment_global_task_list_ut__define.pro -text
